NEXT_PUBLIC_APP_NAME=Dean Design Analytics
NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=https://slasrfgxdcyudbkimmyx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNsYXNyZmd4ZGN5dWRia2ltbXl4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYwNTI1MTIsImV4cCI6MjA3MTYyODUxMn0.J7fdQoKQQXNoKKbJir625-wZY_9L0yB1Ggv7o5Bg5MQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNsYXNyZmd4ZGN5dWRia2ltbXl4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjA1MjUxMiwiZXhwIjoyMDcxNjI4NTEyfQ.9hibowKXuA60uRhC0VlNgUCZA_0FcpOvHY0d1OwGRv8 

GOOGLE_CLIENT_ID=491362080755-gs83tuirtlqs28dc0s5814gbe1uk8ao2.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:3000/api/google/oauth/callback

ENCRYPTION_KEY_BASE64=btOKSoSag9XnXxkV8bRs1SCiIEV1nAVfMjKrQ0rdsbU=

CRON_SECRET=some-long-random-string
